<script lang="ts">
import Vue from 'vue'
// Uncomment import and local "components" registration if library is not registered globally.
// import { QuestUiSample } from '@/entry.esm';

export default Vue.extend({
  name: 'ServeDev',
  // components: {
  //  QuestUiSample,
  // }
})
</script>

<template>
  <div id="app">
    <quest-ui-sample />
  </div>
</template>
