<template>
  <button class="button is-primary" @click="onClick">
    <!-- @slot default inner button content -->
    <slot></slot>
  </button>
</template>

<script lang="ts">
import Vue from 'vue'
import VueCompositionAPI, { defineComponent } from '@vue/composition-api'
Vue.use(VueCompositionAPI)

export default /*#__PURE__*/ defineComponent({
  name: 'QButton',
  setup(props, context) {
    const onClick = (): void => {
      /**
       * Click event
       *
       * @event click
       */
      context.emit('click')
    }

    return {
      onClick,
    }
  },
})
</script>

<style scoped>
button {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 15pt;
  padding: 3px 10px;
  margin: 10px;
}
</style>
