.quest-ui-sample {
  display: block;
  width: 400px;
  margin: 25px auto;
  border: 1px solid yellow;
  background: #eaeaea;
  text-align: center;
  padding: 25px;
}
.quest-ui-sample p {
  margin: 0 0 1em;
}
