<template>
  <div class="quest-ui-sample">
    <p>
      The counter was {{ changedBy }} to <b>{{ state.counter }}</b
      >.
    </p>
    <button @click="increment">Click +1</button>
    <button @click="decrement">Click -1</button>
    <button @click="increment(5)">Click +5</button>
    <button @click="decrement(5)">Click -5</button>
    <button @click="reset">Reset</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import VueCompositionAPI, {
  defineComponent,
  reactive,
  computed,
} from '@vue/composition-api'
Vue.use(VueCompositionAPI)

interface SampleData {
  counter: number
  initCounter: number
  message: {
    action: string | null
    amount: number | null
  }
}
export default /*#__PURE__*/ defineComponent({
  name: 'QuestUiSample', // vue component name
  setup() {
    const state: SampleData = reactive({
      counter: 5,
      initCounter: 5,
      message: {
        action: null,
        amount: null,
      },
    })

    const changedBy = computed(() => {
      // const { message } = this as SampleData;
      if (!state.message.action) return 'initialized'
      return `${state.message.action} ${state.message.amount || ''}`.trim()
    })

    const increment = (arg: Event | number): void => {
      const amount = typeof arg !== 'number' ? 1 : arg
      state.counter += amount
      state.message.action = 'incremented by'
      state.message.amount = amount
    }

    const decrement = (arg: Event | number): void => {
      const amount = typeof arg !== 'number' ? 1 : arg
      state.counter -= amount
      state.message.action = 'decremented by'
      state.message.amount = amount
    }

    const reset = (): void => {
      state.counter = state.initCounter
      state.message.action = 'reset'
      state.message.amount = null
    }

    return { state, changedBy, increment, decrement, reset }
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/styles/quest-ui-sample.scss';
</style>
